<<<<<<< HEAD
<h1>Messages#index</h1>
<p>Find me in app/views/messages/index.html.erb</p>
=======
<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>
  <div class="chat">
    <%= render "main_chat" %>
  </div>
</div>
>>>>>>> 7194b2a85cc972e12209d56b7edc86f5b947b71c
